.idea/
 lesson_6/__pycache__/lesson_6.cpython-311.pyc
 venv/

lesson_17/__pycache__/Test_The_Internet.cpython-311-pytest-7.3.2.pyc
lesson_17/__pycache__/Test_UITAP.cpython-311-pytest-7.3.2.pyc
lesson_17/__pycache__/Test_XYZ_Bank.cpython-311-pytest-7.3.2.pyc

lesson_17/results